/* CV's about me settings */

.cv-aboutme {

  margin-top: 70px;

}

.cv-aboutme-txt {

  text-align: justify;
}

.cv-aboutme-img{
  width: 350px;
  height: 350px;
  margin-top: 70px;
  border: 1px solid #C0C0C0; /* #193E5D; Kensoc Blue Color */

}
