/* CV's about me settings */

.cv-aboutme {

  margin-top: 70px;

}

.cv-aboutme-txt {

  text-align: justify;
}

.cv-aboutme-img {
  /* background-image: url(../images/profile/hardik-patel.jpg) no-repeat; */
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  margin-top: 70px;
  border: 1px solid #C0C0C0; /* #193E5D; Kensoc Blue Color */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
   transform: rotate(90deg);

}

.cv-aboutme-contacts {

  margin-top: 50px;
}

.cv-aboutme-socials {

  margin-top: 60px;
  margin-bottom: 70px;
}
