/* Navigation bar properties */

.navbar-cv {
    background: #F5F5F5; /* WhiteSmoke color */
   /* background: transparent;*/
    border-color:transparent;
    width: 1000px;
    height: 150px;
    position: relative;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-align: center;
}

.navbar-cv .navbar-cv-title {
    font-size: 40px;
    font-weight: 600;
    /*color: #193E5D; /* Kensoc Blue Color*/
    /*color: #4169E1; /*RoyalBlue color*/
    /*color: #87CEEB; /*SkyBlue color*/
    color: #00BFFF; /*DeepSkyBlue color*/
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-cv .navbar-cv-title-edu {
    font-size: 18px;
    font-weight: 400;
    color: #193E5D; /* Kensoc Blue Color */
    text-transform: uppercase;
    position: absolute;
    top: 30%
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-cv .navbar-cv-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #193E5D; /* Kensoc Blue Color */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-cv .navbar-cv-menu {
    font-size: 12px;
    font-weight: 400;
    color: #193E5D; /* Kensoc Blue Color */
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}
