/* Navigation bar properties */

.navbar-cv-main {
    background: #F5F5F5; /* WhiteSmoke color */
   /* background: transparent;*/
    border-color:transparent;
    width: 1000px;
    height: 100px;
    position: relative;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-align: center;
}

.navbar-cv-main .navbar-cv-title {
    font-size: 36px;
    font-weight: 600;
    /*color: #193E5D; /* Kensoc Blue Color*/
    /*color: #4169E1; /*RoyalBlue color*/
    /*color: #87CEEB; /*SkyBlue color*/
    color: #00BFFF; /*DeepSkyBlue color*/
    text-transform: uppercase;
    margin: auto;
}
.navbar-cv-main .navbar-cv-title-edu {
    font-size: 18px;
    font-weight: 400;
    color: #193E5D; /* Kensoc Blue Color */
    text-transform: uppercase;
    margin: auto;
}

.navbar-cv-main .navbar-cv-subtitle {
    font-size: 12px;
    font-weight: 400;
    color: #193E5D; /* Kensoc Blue Color */
    margin: auto;
}
