.cv-work-exp {
  color: #C0C0C0;
  background-color: #193E5D;
  height: auto;
  position: relative;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-align: center;
  padding-top: 50px;

}

.cv-work-exp-img{
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 3px solid #C0C0C0;


}
