.cv-work-exp {
  color: #C0C0C0;
  background-color: #193E5D;
  height: auto;
  position: relative;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

.cv-prof-exp {
  padding-top: 75px;
  padding-bottom: 75px;
}

.cv-prof-exp h4 {
   color: #F0F0F0; 
 }

.cv-prof-exp p {
   color: #C0C0C0;
 }

.cv-prof-exp-img {
  background-repeat: no-repeat;
  width: 175px;
  height: 175px;
  /*margin-top: 50px;
  margin-bottom: 70px;*/
  border: 3px solid #C0C0C0;


}

.cv-prof-exp-txt-lft {

  /*float:right;*/
  text-align:right;
  /*margin-top: 50px;*/
}

.cv-prof-exp-txt-rgt {

  /*float:left;*/
  text-align:left;
 /* margin-top: 50px; */
}
