/* ======== Master Page settings ======= */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
/*@import url("cv-page.css"); */

html,
body {
  width: 100%;
  height: 100%;
  /*background: rgb(204,204,204);*/
  background: #C0C0C0; /* Silve Color */
  /*background: #F0F0F0; /* Almost White Color */
}

a {
    color:#193E5D; /* Kensoc Blue Color */
}
a:hover,a:focus {
    color:#FED136; /* Kensoc Yellow Color */
}

/* General page settings */
.cv {
  background: white;
  width: 1000px;
  height: 100%;
  display: block;
  /*border:1px solid;*/
  margin: 0 auto;
  margin-bottom: 0px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

h1,
h2,
h3,
h4 {
  color: #00BFFF; /*DeepSkyBlue color*/
}

p {
  color: #193E5D; /* Kensoc Blue Color */
}
/*
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}*/
