/* ======== International paper size in mm ======= */

/* General page settings */
#page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

}
/* A0 Page size */
page[size="A0"] {
  background: white;
  width: 841mm;
  height: 1189mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A1 Page size */
page[size="A1"] {
  background: white;
  width: 594mm;
  height: 841mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A2 Page size */
page[size="A2"] {
  background: white;
  width: 420mm;
  height: 594mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A3 Page size */
page[size="A3"] {
  background: white;
  width: 297mm;
  height: 420mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A4 Page size */
#page:page-size[size="A4"] {
  width: 210mm;
  height: 297mm;
}

/* A5 Page size */
page[size="A5"] {
  background: white;
  width: 148mm;
  height: 210mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A6 Page size */
page[size="A6"] {
  background: white;
  width: 105mm;
  height: 148mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A7 Page size */
page[size="A7"] {
  background: white;
  width: 74mm;
  height: 105mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

/* A8 Page size */
page[size="A8"] {
  background: white;
  width: 52mm;
  height: 74mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
